html {
    font-family: serif;
}

/* estilo de index.html */
.img-nav {
    height: 65px;
    width: 65px;
    position: relative;
    border-radius: 50%;
}

.nav-link {
    text-align: center;
}

.tituloPrincipal {
    text-align: center;
    font-size: 502px;
}

.carousel-item {
    max-height: auto;
    max-width: auto;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    border-color: black;
}

#carouselExample {
    float: right;
    margin: auto;

}