html {
    font-family: serif;
}

/* estilo de index.html */


.img-nav {
    height: 65px;
    width: 65px;
    position: relative;
    border-radius: 50%;
}

.nav-link {
    text-align: center;
}


.carousel-item {
    max-height: 650px;

}

.carousel-inner {
    border-radius: 10px;
}

#carouselExample {
    float: right;
    margin: auto;

}